@import "tailwindcss";

@plugin "daisyui";

@property --angle-animation {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@layer utilities {
    --angle-animation: 0deg;
    .animate-card {
        transition: all 0.3s ease;
    }

    .animate-card:hover::after,
    .animate-card:hover::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: conic-gradient(
            from var(--angle-animation),
            rgba(255, 255, 255, 0.6),
            rgba(52, 188, 120, 1),
            rgba(52, 188, 120, 0.8),
            rgba(52, 188, 120, 0.6),
            rgba(255, 255, 255, 0.6)
        );
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
        padding: 1rem;
        border-radius: 0.5rem;
        animation: glow-spin 5s linear infinite;
        /*@apply absolute left-[50%] top-[50%] z-[-1] h-[100%] w-[100%] rounded-[0.5rem] p-[10px] opacity-[0.5] content-[''];*/
    }

    .animate-card::before {
        filter: blur(2rem);
        opacity: 1;
    }
}

@theme {
    @keyframes glow-spin {
        from {
            --angle-animation: 0deg;
        }
        to {
            --angle-animation: 360deg;
        }
    }

    --animate-glow-spin: glow-spin 0.5s linear infinite;
}
